.about {
    /* background-color: rebeccapurple; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: slideInLeft;
    animation-duration: 2s;
}

.about p {
    font-size: 40px;
    width: 800px;
    height: 390px;
    text-align: justify;
    /* color: #cb9bb8; */
    color: #391e2b;
    
}